The Spark Foundation : GRIP MAY 2021  

Task : Prediction using Decision Tree

Algorithm 

Auther : Raj Lashkari

Problem Statement :  Create the Decision Tree classifier and visualize it graphically.

In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [11]:
# import datasets
dataset = pd.read_csv(r"C:\Users\rajla\OneDrive\Desktop\bill_authentication.csv")

In [12]:
#We will again use the head function of the dataframe to see what our data actually looks like
dataset.shape

(1372, 5)

In [13]:
#To see statistical details
dataset.head()

   Variance  Skewness  Curtosis  Entropy  Class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [15]:
#divide data into labels and attributes
X = dataset.drop('Class', axis=1)
y = dataset['Class']

In [16]:
#Execute the following code to divide our data into training and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [17]:
#instantiate the DecisionTreeRegressor
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(X_train, y_train)

DecisionTreeClassifier()

In [18]:

#To make prediction
y_pred = classifier.predict(X_test)

In [19]:
#
df=pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})
df

      Actual  Predicted
513        0          0
679        0          0
528        0          0
489        0          0
809        1          1
...      ...        ...
1057       1          1
863        1          1
502        0          0
1095       1          1
871        1          1

[275 rows x 2 columns]

In [20]:
#Evaluating the Algorithm
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 0.014545454545454545
Mean Squared Error: 0.014545454545454545
Root Mean Squared Error: 0.12060453783110545